# Nuxt dev/build outputs
.output
.data
.nuxt/*
!.nuxt/eslint.config.mjs
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.eslintcache
proxies.txt

# Local env files
.env
.env.*
!.env.example

supabase/seed.sql
